* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    -webkit-tap-highlight-color: transparent;
}

/* josefin-sans-regular */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('Josefin Sans'), local('JosefinSans-Normal'), url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff') format('woff'),
        /* Modern Browsers */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans') format('svg');
    /* Legacy iOS */
}

/* pt-sans-regular */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Normal'), url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff') format('woff'),
        /* Modern Browsers */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.svg#PTSans') format('svg');
    /* Legacy iOS */
}

h1 {
    font-size: 250%;
}

.basePart {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.childPart {
    max-width: calc(512px - 24px);
    width: calc(90vw - 24px);
    border-radius: 12px;
    padding: 12px;
}

.greyBackground {
    background-color: #e3e3e361;
}

.basePart>:not(:first-child) {
    margin-top: 8px;
}

.headingPart {
    margin-top: 8px;
    padding: 16px 0;
}

.fileInputPart {
    min-height: fit-content;
    padding-bottom: 4px;
}

.selectFile {
    cursor: pointer;
    padding: 12px;
    padding-bottom: 8px;
    border-radius: 8px;
    text-align: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.selectedFile {
    text-align: center;
    width: 100%;
    margin-top: 4px;
    color: #9f9f9f;
}

#selectedFile {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    width: 100%;
}

.resultPart {
    min-height: 1em;
    width: 100%;
    padding: 8px 0;
    margin-top: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#urlLink1,
#urlLink2 {
    display: block;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#qrcode {
    width: fit-content;
}

.qrcodeImg {
    image-rendering: pixelated;
    display: block;
    max-height: 6em;
    max-width: 80%;
    height: 100%;
}

.qrcodeArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.qrcodeNotice {
    min-height: calc(6em - 4px);
    width: calc(100% - 6em - 8px);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fileInfo>div p {
    color: #9f9f9f;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3em;
}

#fileInfo>div p span {
    color: #787878;
}

#fileInfo>div {
    width: 95%;
    padding: 8px;
    padding-left: 1em;
}

#fileInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fileInputPartTextUploading {
    color: #ffffff;
    font-size: x-large;
    font-weight: bolder;
    padding: 16px;
    padding-bottom: 12px;
    background-color: #6d6d6d61;
    border-radius: 16px;
}

.fileInputPartTextError {
    background-color: #840D23;
}